@charset "utf-8";
/* CSS Document */

*                 {margin:0; padding:0; outline:0}
img               {max-width:100%; height:auto}

ul                {list-style:none}

li                {list-style:none;}

.clear_fix         {clear:both; width:100%}

.fullwrap          {max-width:1600px; width:100%; margin:auto}

.sitecontainer     {max-width:1150px; width:100%; margin:auto}

.section2          { background-color:#dcbca2; position:absolute; width:38%; top:304px; right: 428px; padding: 11px}

.banner          { position:relative}

.register         { width:24%; float:left}

.form1            { width:76%; float:left}
.form1 form        {}

.section3         { width:100%; padding: 45px 2px}

.singles          { width:39%; float:left; font-size:32px}
 
.era              { width:59%; float:left; font-size:16px}

.section4         { }

.form2            { width:40%; float:left}
.form2 form       {}
.form2 select      { border: 0;
    width: 222px;
    padding: 11px;
    background-color: beige;}


.three            { width:60%; float:left}
.three>ul>li      { float: right; padding: 22px;}

.section5         { background-color:#f8f3ed }

.registration     { text-align:center; padding:24px 1px}

.form3            {width: 35%; padding: 29px 400px; border:solid}
.form3 form       { padding: 18px }

.section6         { background-color:#edecec; width:100%}

.logo1img          {  width:44%; float:left}

.logo1data        { width:50%; float:left}
.logo1data>span        { color:#0e8d17; font-size:22px}  

.heading          { text-align:center; padding:18px}

.logo2img          {  width:44%; float:left}

.logo2data        { width:50%; float:left}
.logo2data>span        { color:#0e8d17; font-size:22px} 


.viewmore          { width:50%}

.testimonals       { background-color:#f6f4f5; text-align:center}
.testimonals>p     { padding:22px}
.testimonals h4     { padding:24px}


.lastban>h3        { text-align:center; padding:14px}


.lastban               { background-color:#e5e5e5}
.lastbanner            {padding: 1px 115px} 
.lastbanner>img        { }
.lastbannerdata h3     { text-align:center }
.lastbannerdata p       { text-align:center}

.lastsection          {}
.lastsection>ul>li     { float: left;padding: 48px; margin: 31px;}
